tr.noc {background:#FFF; color: #AAA; }
tr.chg {background:#FFFF00;}

td.del {background:#FFF; color: #FF0; }
td.noc {background:#FFF; color: #AAA; }
td.add {background:#FFF; color: #00F; }

noc, .noc {color:#ccc; background:#fff; }
ins, .add {color:#0000FF; text-decoration-line: none; }
del, .del {color:#FF0000; text-decoration-line: none; }
mis, .mis {color:#f8f8f8; background: repeating-linear-gradient(45deg, #eee, #eee 10px, #f8f8f8 10px, #f8f8f8 20px);}
