tr.noc {background:#FFF;}
tr.chg {background:#FFFF00;}

td.del {background:#FF0000;}
td.noc {background:#FFF;}
td.add {background:#FFC864;}

td.mid {background:#6d88ad;}

ins {background:#FFC864;}
del {background:#FF0000;}
