tr.noc {background:#FFF; color: #AAA; }
tr.chg {background:#FFFF00;}

td.del {background:#FFF; color: #FF0; }
td.noc {background:#FFF; color: #AAA; }
td.add {background:#FFF; color: #00F; }

ins, .add {color:#0000FF; text-decoration-line: none; }
del, .del {color:#FF0000; text-decoration-line: none; }
